.user-list-container thead {
  background: #747474;
}
.user-list-container thead > tr th {
  color: #FFFFFF;
}
.user-list-container .glyph-icon > img {
  width: 16px;
  height: 16px;
}
.user-list-container .btn-action-user {
  border-radius: 10px;
}
