.user-list-container {
  thead {
    background: #747474;
    > tr th {
      color: #FFFFFF;
    }
  }
  .glyph-icon > img {
    width:16px;
    height:16px;
  }
  .btn-action-user {
    border-radius: 10px;
  }   
}