<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/scripts/css/bootstrap.min.css" integrity="" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/user.css" integrity="" crossorigin="anonymous">
    
   
    <title>User</title>
  </head>
  <body>
    {% include "./navbar.html" %}

    <div class="container" >
      <h4>Create User</h4>
    </div>
    
    <div class="container create-user-page">
      <form action="/adduser" class="form-add-user" method="post">
        <div class="form-group row">

          <div class="col-sm-6">
            <label for="inputName">Name</label>
            <input type="text" class="form-control" name="username"  aria-describedby="nameHelp" placeholder="Enter your name">
            <small id="nameHelp" class="form-text text-muted">mandatory field</small>
          </div>
          
          <div class="col-sm-6">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="email"  aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">mandatory field</small>
          </div>
          
        </div>
        <div class="form-group row">
            
          <div class="col-sm-6">
            <label for="inputName">Telefone</label>
            <input type="telephone" class="form-control" name="telefone" aria-describedby="phoneHelp" placeholder="Enter your phone">
            <small id="phoneHelp" class="form-text text-muted">mandatory field</small>
          </div>
          
          <div class="col-sm-6">
            <label for="inputCpf">Cpf</label>
            <input type="number" class="form-control" name="cpf"  aria-describedby="cpfHelp" placeholder="Enter your cpf">
            <small id="cpfHelp" class="form-text text-muted">mandatory field</small>
          </div>
          

        </div>

        <div class="form-group row">

          <div class="col-sm-6">
            <label for="date-input" class=" col-form-label">Data de Nascimento</label>
            <input class="form-control" type="date" name="nascimento" >
          </div>
              
          <div class="form-check col-sm-6 is-active-input">
            <input type="checkbox" name="isActive" value="true">
            <label class="form-check-label"> Ativo </label>
          </div>
          
          
          
        </div>
        <div class="form-group row">
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary" value="Salvar">Salvar</button>
          </div>
        </div>
      </form>  
    </div>
    
    
    
    <script src="/scripts/jquery.min.js" integrity="" crossorigin="anonymous"></script>
    <script src="/scripts/umd/popper.min.js" integrity="" crossorigin="anonymous"></script>
    <script src="/scripts/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      
  </body>
</html>