<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="/scripts/css/bootstrap.min.css" integrity="" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/user-list.css" integrity="" crossorigin="anonymous">
  
  <title>User List</title>
</head>

<body>

  {% include "./navbar.html" %}


  <div class="container user-list-container">
    <table class="table  table-sm-12">
      <thead class="thead-inverse"> 
        <tr> 
          <th>Name</th>
          <th>E-mail</th>
          <th>CPF</th> 
          <th>Telefone</th> 
          <th>Ativo</th>
          <th>Data Nascimento</th>
          <th>Opções</th>
          <th></th>
        </tr>
      </thead>  

      <tbody>
        {% for i, value in userList %}
          <tr>
            <th scope="row"> {{userList[i].username}} </th>  
            <td> {{ userList[i].email }} </td>
            <td> {{ userList[i].cpf }} </td>
            <td> {{ userList[i].telefone }} </td>
            <td> {{ userList[i].isActive }} </td>
            <td> {{ userList[i].nascimento }} </td>
            <td> <button class="btn btn-action-user glyph-icon"> <img src="/svg/si-glyph-pencil.svg"/></button></td>
            <td> <button class="btn btn-action-user glyph-icon"> <img src="/svg/si-glyph-trash.svg"/> </button></td>
          </tr>

        {% endfor %}
        
      </tbody>
    </table>
  </div>
    
  

  <script src="/scripts/jquery.min.js" integrity="" crossorigin="anonymous"></script>
  <script src="/scripts/umd/popper.min.js" integrity="" crossorigin="anonymous"></script>
  <script src="/scripts/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
</body>

</html>